  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  } 

  .container{
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  body{
    margin-left: 10%;
    margin-right: 10%;
  }
.h1{
  padding-top: 1%;
  padding-bottom: 1%;
}
  /*navbar*/
  .nav-ul{
    list-style-type: none;
    display: flex;
    
  }
  .li{
    list-style-type: none;
    padding: 1rem;
  

  }
.nav-a{
  color: gray;
  text-decoration: none;
}
.active {
  color: Black;
}

/* imagenes */
.img-top{

}

.img-main{
  width: 100%;
}

/* main */
.ol
{
  Padding-left: 5%;
}

.art{
  padding-left: 5%;
  padding-top: 5%;
}
.main-1{
  display: flex;
  flex-flow: row;
  
}

.column{
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  border: 1px solid  #dcdcdc;
  margin: 1%;
}

/* botones */
.button{
    background-color: #007bff;
    border: 0px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .bt-a{
    text-decoration: none;
    color: white;
  }

  /* footer */
.footer{
  border: 1px solid #b8daff ;
  background-color: #d0e4fc;
  color: #0c549e;
}
  
@media screen and (max-width:600px) {
  

  
  
}

/* h1, p, li, h3 {
  margin-left: 20px;
  margin-right: 20px;
}

p,li{
  color:   gray;
}

.topnav {
padding-left: 50px;
margin-bottom: 10px;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  color: Black;
}



.column {
  float: left;
  width: 29%;
  border: 1px solid  #dcdcdc;
  margin:2%;
  display: block;
  justify-content: center;
 
}



.colum-img{
  margin: 0px;

}

button{
  background-color: #007bff;
  border: 0px;
  padding: 7px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

a{
  color: white;
  
  text-decoration: none;
   
}

.footer{
  border: 1px solid #b8daff ;
  background-color: #d0e4fc;
  margin-left: 3%;
  margin-right: 2%;
  color: #0c549e;
} */
