* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}
.container {
  max-width: 1080px;
  height: 100vh;
  background: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.8)),
    url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
 
  flex: 1;
  font-size: 1.8rem;
  user-select: none;

}

.navbar-ul{
  list-style: none;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;

}

.navbar-toggle{
  display: none;
}

.li{
  list-style-type: none;
  padding: 1rem;
}

.nav-a{
  text-decoration: none;
  color: white;

}

.li:hover{
  background-color: #1c2c44;
}

.nav-a:hover{

  color: aqua;

} 

@media screen and (max-width:600px) {

  .navbar-ul{
    flex-wrap: wrap;
  }
  .navbar-toggle{
    display: block;
  }
  .li {
    display: none;
    width: 100%;
    text-align: center;
  }
.active{
  display: block;
}

  

}
